<body>  
     <div class="container">
        <nav class="navbar navbar-light bg-primary">
            <div class="container-fluid">

                <h1 style="color:aliceblue">
                    <img src="https://t4.ftcdn.net/jpg/03/88/84/95/360_F_388849548_SwfED4tw4zM2rypbIbdBHP4oKR4nBwVT.jpg" width="30px" height="30px" style="border-radius:50%">
                      VP Mart
                </h1>
                    
                <div class="d-flex">
                    <button type="button" class="btn" routerLink="/home">home</button>
                            <button type="button" class="btn" routerLink="/vendorlogin">Vendor Login</button>
                            <button type="button" class="btn" routerLink="/admin">Admin</button>
                            <button type="button" class="btn" routerLink="/userlogin">Login</button>
                </div>
            </div>
        </nav>
           
              
            <div id="grid">
                <div class="slide">
                    <div class="eat">
          
          
                    <img src="https://t4.ftcdn.net/jpg/03/88/84/95/360_F_388849548_SwfED4tw4zM2rypbIbdBHP4oKR4nBwVT.jpg" width="303px" height="303px" 
                    style="border-radius:50%; padding: 40px; margin: 40px;">
            
                    </div>
                </div>

                <div class="row">
                    <div class="card">
                        <div class="text-center">

                            <h1>ADMIN Login</h1>

                            <h6>    Welcome Admin...!!! </h6>
                            
                        </div>
                        
                        <form [formGroup]="adminlogin" (ngSubmit)="admin()">
                        
                            <div class="mb-3">
                        
                                <div class="login">
                                    <mat-form-field appearance="fill">
                                    <mat-label >EmailID</mat-label>
                                    <input matInput formControlName="EmailId">
                                    </mat-form-field>
                                
                                    <mat-form-field appearance="fill">
                                  <mat-label >Password</mat-label>
                                  <input matInput formControlName="Password">
                                </mat-form-field>
                               </div>
                               </div>
                                
                                <button type="submit" class="btn btn-primary">Login</button><br>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          </body>
          