mat-toolbar {
  background: #004a9f;
  color: white;
}
input{
  width: 450px;
}
mat-toolbar h4{
  margin-right: 200px;
}

mat-toolbar button{
  display: inline;
  text-decoration: none;
  justify-content: space-between;
  padding: 7px;
  color: white;
  font-size: 25px;
  background-color: transparent;
  outline: none;
  border: none;
}
mat-toolbar button:hover{
 transform: scale(1.2);
}
.d-flex{
  display: flex;
  float: right;
  padding: 10px;
  margin-right: 0;
  margin-left: 35%; 
}
.fa-magnifying-glass{
  margin-left: -2%;   
  color:black;
  visibility: visible;
  text-decoration: none;
}

#slider{
    overflow: hidden;
  }
  #slider figure{
    position: relative;
    width: 500%;
    margin: 0%;
    left:0;
    animation: 15s slider infinite;
  }
  #slider figure img{
    width:20%;
    float: left;
  }
  @keyframes slider{
    0%{
        left:0;
    }
    20%{
        left:0;
    }
    25%{
        left:-100%;
    }
    45%{
        left:-100%;
    }
    50%{
        left:-200%;
    }
    70%{
        left:-200%;
    }
    75%{
        left:-300%;
    }
    95%{
        left:-300%;
    }
    100%{
        left:-400%;
    }
  }
    
  
  .navbar{
    background-color: rgb(49, 158, 241);
  }
  h2{
    display: inline;
    cursor: pointer;
  }
  .navbar h2{
    color: #fff;
  }
  .container-fluid{
    display: inline; 
    margin-top: 5px;
    margin-bottom: -5px;
  }
  .dropdown {
      position: relative;
      display: inline;
      cursor: pointer;
      padding: 10px;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: beige;
      min-width: 250px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
    }
    .dropdown:hover .dropdown-content {
      display: block;
      cursor: pointer;
    }
    .dropdown p{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-weight: bold;
      font-size: 16px;
    }
    .dropdown p:hover{
      background-color: #fff;
      padding: 5px;
      border-radius: 5px;
      color: rgb(8, 115, 255);
    }

    .items{
        margin-left: 40px;
        justify-content: space-between;
        text-align: center;
    }
    #abc{
        border: 1px solid black;
        display: inline-block;
        padding: 10px;
        border-radius: 10px;
        margin: 20px; 
        width: 250px;
        
    }
    button{
    border-radius: 5px;
    padding: 2px;
    color: white;
    width: 100%;
    font-size: 15px;
    }
    button:hover{
        background-color: green;
        border: none;
        outline: none;
    }
    .fa-plus{
        color: aliceblue;
        float: right;
        padding: 2px;
    }
    h2{
        text-align: center;
    }
    #abc:hover{
        background-color: transparent;
        transform: scale(1.1);

    }
    .items img:hover{
      transform: scale(1.04);
    }

    .d-flex .btnn
{
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 5px 20px;
    border: 1px solid black;
    background: transparent;
    text-decoration: none;
    text-align: center;
    margin: 5px;
    border-radius: 15px;
    
}
.d-flex  .btnn:hover{
    transform: scale(1.16);
}